---
import Footer from "../components/Footer.astro";
import LandingBlog from "../components/LandingBlog.astro";
---


<meta charset="utf-8">
<LandingBlog/>
<body class="bg-white text-black min-h-screen">
    <main class="container mx-auto mt-20 p-8">
        <h1 class="text-4xl font-bold mb-4">Acerca de DevInsights</h1>

        <section class="mb-8">
            <p class="mt-3">"El blog se actualizará continuamente con el objetivo de ser de mayor ayuda, mejorando su estilo y añadiendo mayor interactividad. ¡Mantente atento a las nuevas mejoras!"</p>

        </section>
        <section class="mb-8">
            <h2 class="text-2xl font-bold">¿Quién Soy?</h2>
            <p>Soy Josue Guido, Desarrollador Full Stack. Mi pasión por el Desarrollo Web me llevó a crear este espacio donde comparto temas específicos que cubren el mundo de la programación.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-bold">Objetivos del Blog</h2>
            <p>Con DevInsights, mi objetivo es ayudar a todo tipo de programadores, desde los que están comenzando hasta los que llevan muchos años pero quieren mantenerse al día con todo lo que sucede en el mundo tecnológico. Estoy comprometido a proporcionar contenido valioso que beneficie a mis lectores.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-bold">Para Quién es Este Blog</h2>
            <p>DevInsights está diseñado para todo tipo de personas amantes del mundo del desarrollo. Si eres Web Dev, Software Engineer u alguna rama relacionada, este es el lugar perfecto para encontrar información relacionada y de ayuda.</p>
        </section>

        <section class="mb-8">
            <h2 class="text-2xl font-bold">Contacto y Colaboraciones</h2>
            <p>Me encantaría escuchar tus comentarios y sugerencias. Puedes contactarme a través de <a href="mailto:tucorreo@gmail.com">josuguido@gmail.com</a>. También estoy abierto/a a colaboraciones y otras formas de interacción.</p>
        </section>

        <section>
            <h2 class="text-2xl font-bold">¡Gracias por Visitar!</h2>
            <p>Agradezco tu tiempo y espero que encuentres inspiración y valor en DevInsights. ¡Gracias por ser parte de esta comunidad!</p>
        </section>
    </main>
   <Footer/>
</body>

</html>
