---
import LandingBlog from "../components/LandingBlog.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Actualizaciones from "./Lenguajes.astro";

---

<Layout title="Welcome to My Blog.">
	<LandingBlog />
	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
	>
		
		<div class="snap-center">
			<Header />
		</div>

     
        <Footer/>
	</main>
    
</Layout>
