---
import Cards from "../components/Cards.astro";
---

<main class="flex flex-col items-center py- px-8 md:px-32 bg-white">
    <article class="text-center py-28">
        <h1
            class="text-5xl font-extrabold text-gray-400 hover:underline transition-all duration-300 ease-in-out transform hover:scale-105 mb-6"
        >
            Bienvenidos a DevInsights
        </h1>
        <div
            class="bg-gradient-to-r from-purple-400 to-pink-500 p-8 rounded-lg shadow-md"
        >
            <p class="text-gray-100 font-sans text-lg leading-relaxed">
                ¡Hola, exploradores del código! Bienvenidos al fascinante mundo
                de la programación, donde las líneas de código se convierten en
                historias y los algoritmos son la clave para resolver problemas.
                Este blog está diseñado para todos aquellos que se embarcan en
                un viaje apasionante hacia el vasto universo de la programación.
                Exploraremos las maravillas del desarrollo de software, desde
                los conceptos fundamentales hasta las últimas tendencias
                tecnológicas. Ya seas un novato curioso, un estudiante ansioso
                por aprender o un desarrollador experimentado en busca de
                inspiración, aquí encontrarás artículos, tutoriales y
                reflexiones que te guiarán a través de las complejidades y
                bellezas de la programación. Desde el encanto de los lenguajes
                de programación hasta la emoción de resolver problemas
                algorítmicos, nuestro objetivo es compartir conocimientos,
                inspirar la creatividad y fomentar una comunidad apasionada por
                el código. Prepárate para sumergirte en el código fuente de la
                tecnología que impulsa nuestro mundo moderno. Únete a nosotros
                en este emocionante viaje, donde cada línea de código es una
                oportunidad para aprender, crecer y transformar ideas en
                realidad. ¡Bienvenidos a mi blog sobre programación!
            </p>
        </div>
    </article>

    <div class="divider divider-info"></div>

    <section class="flex my-10 grid-flow-col gap-10 items-center text-start">
        <Cards
            Title="Desarrollo Front-End"
            Info={`
            En el vertiginoso mundo del desarrollo web, la experiencia del usuario se encuentra en la vanguardia de la innovación tecnológica.
             Desde la creación de interfaces de usuario elegantes hasta la optimización de la velocidad de carga, el Desarrollo Frontend desempeña un papel crucial. 
             Este artículo ofrece una guía completa para aquellos que buscan convertirse en desarrolladorres frontend, abordando desde los conceptos fundamentales.`}
            Guia="Frontend"
        />

        <Cards
            Title="Desarrollo Back-End"
            Info={`
            En el tejido mismo de la web, el Desarrollo Backend actúa como el motor silencioso que impulsa la funcionalidad y la lógica detrás de las aplicaciones. 
            Este artículo te guiará a través de los fundamentos esenciales del desarrollo del lado del servidor, desde la manipulación de datos hasta la creación de APIs sólidas, 
            ofreciendo una perspectiva completa para aquellos que buscan adentrarse en el fascinante mundo del desarrollo backend.`}
            Guia="  Backend"
        />

        <Cards
            Title=" Guía Completa para Clean Code"
            Info={`En el laberinto del desarrollo de software, la legibilidad y la mantenibilidad son imperativos. La creación de código limpio, conocido como "Clean Code", no solo es una estética aspiración, sino un pilar fundamental para el éxito de proyectos a largo plazo. Esta guía exhaustiva te sumergirá en los principios y prácticas esenciales de Clean Code, proporcionando herramientas valiosas para convertir tus líneas de código en una obra maestra de claridad y eficiencia.`}
            Guia="https://github.com/andersontr15/clean-code-javascript-es"
        />
        
    </section>
    <button id="click" class="flex my-5 gap-5 items-center hover:underline">
        <span class=" text-blue-700">Explorar Guías</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 12l14 0" />
            <path d="M13 18l6 -6" />
            <path d="M13 6l6 6" />
        </svg>
    </button>
</main>
<script>
    document
        .getElementById("click")
        .addEventListener("click", function () {
            window.location.href = "Guias";
        });
</script>