---
import NoticeLeft from "../components/NoticeLeft.astro";
---

<meta charset="UTF-8" />

<main class="bg-white rounded-md shadow-md mx-auto p-8">
    <header class="text-center my-8">
        <h1 class="text-4xl font-bold mb-4">
            Explorando el Mundo de la Programación: Guías, Tutoriales y
            Comparativas
        </h1>
        <p class="text-gray-700 text-start text-sm">
            Bienvenido a nuestro rincón digital donde desentrañamos los secretos
            de los lenguajes de programación más populares. Desde el dinamismo
            de JavaScript hasta la versatilidad de Python y la robustez de Java,
            te ofrecemos tutoriales detallados, guías prácticas y comparaciones
            exhaustivas entre diferentes lenguajes. Descubre con nosotros cómo
            estos poderosos instrumentos pueden dar forma a soluciones
            innovadoras y encuentra el camino que mejor se adapte a tus
            necesidades. ¡Prepárate para sumergirte en el fascinante universo de
            la programación!
        </p>
    </header>

    <section
        class="flex justify-center bg-gray-100 min-h-screen items-center my-10"
    >
        <div class="max-w-3xl p-8 bg-white rounded-md shadow-md my-5">
            <h1 class="text-4xl font-bold mb-6 text-center text-gray-800">
                Ranking de Lenguajes de Programación 2023
            </h1>

            <!-- Python -->
            <div class="mb-8">
                <h2 class="text-2xl font-bold mb-2 text-blue-500">Python</h2>
                <p class="text-gray-700">
                    Python es un lenguaje de programación de código abierto
                    diseñado por Guido van Rossum en los años 1980. Potente,
                    fácil de aprender y utilizado en campos como aprendizaje
                    automático, automatización y computación científica.
                    Desarrollador actual: Python Software Foundation. Última
                    versión estable: Python 3.11.5.
                </p>
            </div>

            <!-- JavaScript -->
            <div class="mb-8">
                <h2 class="text-2xl font-bold mb-2 text-yellow-500">
                    JavaScript (JS)
                </h2>
                <p class="text-gray-700">
                    JavaScript es una de las tecnologías fundamentales de la
                    WWW, junto con HTML y CSS. Fue desarrollado inicialmente por
                    el programador americano Brendan Eich, en Netscape, en 1995.
                    Este lenguaje es imprescindible entre los desarrolladores de
                    software y un buen punto de partida para principiantes. No
                    hay confundir JavaScript con Java, aunque ambos cuenten con
                    una sintaxis basada en C y aunque JS fuera diseñado con la
                    sintaxis y la librería estándar de Java en mente. En
                    realidad, JavaScript y Java son muy diferentes:
                </p>
                <div class="overflow-x-auto my-5">
                    <table
                        class="min-w-full bg-white shadow-md rounded-md overflow-hidden"
                    >
                        <thead class="bg-gray-800 text-white">
                            <tr>
                                <th class="py-2 px-4">Características</th>
                                <th class="py-2 px-4">JavaScript</th>
                                <th class="py-2 px-4">Java</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-700">
                            <tr>
                                <td class="py-2 px-4 font-bold">Tipado</td>
                                <td class="py-2 px-4">Dinámico</td>
                                <td class="py-2 px-4">Estático</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-bold">Paradigma</td>
                                <td class="py-2 px-4">Prototipos</td>
                                <td class="py-2 px-4">Clases</td>
                            </tr>
                            <tr>
                                <td class="py-2 px-4 font-bold">Ejecución</td>
                                <td class="py-2 px-4">Navegador web</td>
                                <td class="py-2 px-4"
                                    >Máquina virtual Java (JVM)</td
                                >
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p class="text-gray-700 my-10">
                    Última versión estable: ECMAScript 2021. Influenciado por:
                    AWK, HyperTalk, Java, Scheme y Self.
                </p>
            </div>

            <!-- Java -->
            <div class="mb-8">
                <h2 class="text-2xl font-bold mb-2 text-orange-500">Java</h2>
                <p class="text-gray-700">
                    Java fue diseñada originalmente por el científico de la
                    computación candiense James Gosling, mientras trabajaba en
                    Sun Microsystems, en 1995. Es un lenguaje de programación
                    especialmente popular para aplicaciones web
                    servidor-cliente. Aunque inicialmente se lanzó bajo licencia
                    propietaria, actualmente está disponible bajo licencia GNU
                    GPL 2.0-only. Desarrollador actual: Oracle. Última versión
                    estable: Java SE 20. Influenciado por: Ada 83, C#, C++, CLU,
                    Eiffel, Lisp, Mesa, Modula-3, Oberon, Object Pascal,
                    Objective-C, Smalltalk, Simula67 y UCSD Pascal.
                </p>
            </div>

            <!-- HTML -->
            <div class="mb-8">
                <h2 class="text-2xl font-bold mb-2 text-red-500">HTML</h2>
                <p class="text-gray-700">
                    El lenguaje de marcado HTML, abreviatura de HyperText Markup
                    Language o «lenguaje de marcado de hipertexto», fue diseñado
                    inicialmente por el científico de la computación británico
                    Tim Berners-Lee en 1993. En combinación con CSS y
                    JavaScript, los navegadores web utilizan HTML para componer
                    páginas web visuales. Desarrollador actual: WHATWG (Web
                    Hypertext Application Technology Working Group). Última
                    versión estable: HTML Living Standard
                </p>
            </div>

            <!-- CSS -->
            <div class="mb-8">
                <h2 class="text-2xl font-bold mb-2 text-pink-500">CSS</h2>
                <p class="text-gray-700">
                    <strong>CSS</strong>, abreviatura de Cascading Style Sheets
                    u «hojas de estilo en cascada», es un lenguaje de diseño
                    gráfico, desarrollado por W3C en 1996. Se usa para <strong>
                        formatear documentos escritos en HTML o XML.</strong
                    > De modo que, al igual que HTML y JavaScript, es un
                    elemento fundamental de la WWW. Desarrollador actual: W3C
                    (World Wide Web Consortium). Última versión estable: CSS 3.
                </p>
            </div>

            <!-- SQL -->
            <div class="mb-8">
                <h2 class="text-2xl font-bold mb-2 text-indigo-500">SQL</h2>
                <p class="text-gray-700">
                    SQL, abreviatura de Structured Query Language o «lenguaje de
                    consulta estructurada», fue diseñado inicialmente por los
                    científicos de la computación americanos Donald D.
                    Chamberlin y Raymond F. Boyce en 1974. Es un lenguaje de
                    programación declarativo que se usa para gestión de datos en
                    sistemas de gestión de bases de datos relacionales (RDBMS).
                    MySQL, MariaDB y Microsoft SQL Server son algunos de los
                    RDBMS más populares hoy en día. Desarrollador actual:
                    ISO/IEC JTC 1/SC 32/WG 3. Última versión estable: SQL:2023.
                    Influenciado por: Datalog.
                </p>
            </div>

            <!-- C# -->
            <div class="mb-8">
                <h2 class="text-2xl font-bold mb-2 text-green-500">C#</h2>
                <p class="text-gray-700">
                    C# (C Sharp) es un lenguaje de programación de propósito
                    general, orientado a objetos, diseñado inicialmente por el
                    ingeniero de software danés Anders Hejlsberg, mientras
                    trabajaba en Microsoft, en el año 2000. Se usa para
                    desarrollar servicios web, aplicaciones web, móviles y de
                    escritorio, y juegos. El Ecma International lo aprobó como
                    estándar internacional en 2002 y la ISO/IEC en 2003. Última
                    versión estable: C# 11.0. Influenciado por: C++, Cω, Eiffel,
                    F#, Haskell, Icon, J#, J++, Java, ML, Modula-3, Object
                    Pascal, Scala y VB.
                </p>
            </div>

            <!-- C -->
            <div class="mb-8">
                <h2 class="text-2xl font-bold mb-2 text-purple-500">C</h2>
                <p class="text-gray-700">
                    C es un lenguaje de programación de propósito general,
                    diseñado originalmente por el científico de la computación
                    estadounidense Dennis Ritchie en los años 1970. Destaca por
                    la eficiencia del código. C se usa ampliamente para
                    desarrollar software de sistema, crear aplicaciones y en una
                    amplia variedad de arquitecturas de ordenador — desde
                    superordenadores a sistemas embebidos. C tiene diversos
                    estándares, ANSI C, ISO C y Standard C, los cuales es
                    recomendable seguir para asegurar la portabilidad entre
                    compiladores. Desarrollador actual: ANSI (American National
                    Standards Institute) e ISO/IEC JTC 1/SC22/WG14. Última
                    versión estable: C 17. Influenciado por: ALGOL 68, Assembly,
                    B (BCPL, CPL), FORTRAN y PL/I.
                </p>
            </div>

            <!-- C++ -->
            <div class="mb-8">
                <h2 class="text-2xl font-bold mb-2 text-blue-700">C++</h2>
                <p class="text-gray-700">
                    C++ fue desarrollado inicialmente por el científico de la
                    computación danés Bjarne Stroustrup en 1985, como una
                    extensión de C. Se usa a menudo en infraestructura de
                    software, aplicaciones de escritorio, servidores, etc. Este
                    lenguaje de programación se implementa sobre todo como
                    lenguaje compilado. Estos son algunos de los compiladores de
                    C++: GNU G++. Intel C++ Compiler. Microsoft Visual C++
                    (MSVC). Desarrollador actual: ISO/IEC JTC 1/SC22/WG21.
                    Última versión estable: C++ 20. Influenciado por: Ada, ALGOL
                    68, C, CLU, ML, Mesa, Modula-2, Simula y Smalltalk
                </p>
            </div>

            <!-- TypeScript -->
            <div class="mb-8">
                <h2 class="text-2xl font-bold mb-2 text-yellow-700">
                    TypeScript
                </h2>
                <p class="text-gray-700">
                    TypeScript es un lenguaje de programación de código abierto,
                    lanzado en 2012 por Microsoft. Está diseñado para
                    desarrollar aplicaciones de gran tamaño, aplicaciones
                    JavaScript para ejecutar en el lado del cliente y del
                    servidor, etc. Desarrollador actual: Microsoft. Última
                    versión estable: TypeScript 5.2. Influenciado por:
                    ActionScript, C#, Java y JavaScript.
                </p>
            </div>
            <div class="my-5">
                <h2 class="text-2xl font-bold mb-2 text-yellow-700">PHP</h2>
                <p class="text-gray-700">
                    PHP es un lenguaje de scripting diseñado para el desarrollo
                    web en el lado del servidor. Lo diseñó inicialmente el
                    programador danés-canadiense Rasmus Lerdorf en 1994-1995.
                    También se usa para crear contenido dinámico de páginas web
                    y muchas otras tareas de programación como el control
                    robótico de drones. Muchos sistemas de gestión de
                    contenidos, como WordPress, Drupal o Moodle, usan PHP.
                    Desarrollador actual: PHP Development Team, Zend
                    Technologies y PHP Foundation. Última versión estable: PHP
                    8.2.10. Influenciado por: C, C++, Hack, HTML, Java,
                    JavaScript, Perl y Tcl.
                </p>
            </div>
            <div class="mb-5">
                <h2 class="text-2xl font-bold mb-5 text-yellow-700">
                    Bash/Shell
                </h2>
                <p class="text-gray-700">
                    El lenguaje de scripting y shell (intérprete de comandos) de
                    Unix Bash es el shell del proyecto GNU. Fue diseñado como un
                    sustituto de software libre para el shell Bourne por el
                    programador estadounidense Brian Fox, en 1989. Desde
                    entonces, la mayoría de las distribuciones de Linux lo usan
                    como shell de inicio de sesión predeterminado. Está
                    disponible bajo licencia GNU GPL v3 o posterior.
                    Desarrollador actual: Chet Ramey. Última versión estable:
                    Bash 5.2.15.
                </p>
            </div>
            <div>
                <h2 class="text-2xl font-bold mb-2 text-yellow-700">Swift</h2>
                <p class="text-gray-700">
                    Swift es un lenguaje de programación de código abierto,
                    diseñado originalmente por Chris Lattner, Doug Gregor, John
                    McCall, Ted Kremenek, Joe Groff y Apple Inc. Se creó como un
                    sustituto de Objective-C para desarrollar aplicaciones de
                    MacOS e iOS. Cuenta con una sintaxis más simple e incluye
                    conceptos teóricos modernos de lenguajes de programación.
                    Está disponible bajo Apache License 2.0. Desarrollador
                    actual: Apple Inc. y colaboradores open source. Última
                    versión estable: Swift 5.8.1. Influenciado por: C#, CLU, D,
                    Haskell, Objective-C, Python, Ruby y Rust.
                </p>
                <div class="mt-8 text-center">
                    <span> Información obtenida de:</span>
                    <a
                        href="https://www.stackscale.com/es/blog/lenguajes-programacion-mas-populares"
                        class="text-blue-500 hover:underline"
                    >
                        Stackscales
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="flex flex-col items-center my-10 gap-y-10 text-center">
        <article>
            <header>
                <h1
                    class="text-cyan-600 text-3xl font-mono font-bold hover:underline hover:uppercase"
                >
                    ¿Dónde practicar estos lenguajes?
                </h1>
            </header>
            <p class="font-light text-base font-sans text-amber-600 mt-10">
                En el siguiente enlace encontrarás recursos para practicar estos
                lenguajes de programación, junto con otros recursos útiles.

                <button
                    class="flex mx-80 mt-10 items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
                >
                    <a
                        href="Recursos"
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                    >
                        Recursos
                    </a>
                </button>
            </p>
        </article>
    </section>

    <div style="overflow: hidden;">
        <svg
            preserveAspectRatio="none"
            viewBox="0 0 1200 120"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: #00e8d1; width: 100%; height: 45px; transform: rotate(180deg);"
        >
            <path
                d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
                opacity=".25"></path>
            <path
                d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
                opacity=".5"></path>
            <path
                d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"
            ></path>
        </svg>
    </div>

    <section class="flex flex-col text-black items-center my-10 gap-y-10">
        <h1 class="font-medium text-xl font-mono">
            Como escribir correctamente JavaScript?
        </h1>
        <article class="flex flex-col text-black text-start my-10 gap-y-10 ">
            <h2>Ejemplos de Código:</h2>

            <p>
                <strong
                    >1. Declaración de Variables sin var, let o const:
                    Incorrecta</strong
                ><br />
                <code>nombre = "Juan";</code>
            </p>

            <p>
                <strong>2. Declaración de Variables con let: Correcta</strong
                ><br />
                <code>let nombre = "Juan";</code>
            </p>

            <p>
                <strong>3. Uso de eval(): Incorrecta</strong><br />
                <code>
                    let codigoUsuario = "alert('Hola Mundo');";
                    eval(codigoUsuario);
                </code>
            </p>

            <p>
                <strong>4. Uso de Funciones en lugar de eval(): Correcta</strong
                ><br />
                <code>
                    let codigoUsuario = "alert('Hola Mundo');"; function
                    ejecutarCodigo(codigo) {
                        `
                        return Function(codigo)();
                   `
                    }
                     ejecutarCodigo(codigoUsuario);
                </code>
            </p>

            <p>
                <strong>5. Olvido de Punto y Coma: Incorrecta</strong><br />
                <code>
                    let x = 5;<br />
                     let y = 10;
                </code>
            </p>

            <p>
                <strong>6. Uso Correcto de Punto y Coma: Correcta</strong><br />
                <code>let x = 5; let y = 10;</code>
            </p>

            <p>
                <strong>
                    4. Comparación con == en lugar de ===: Incorrecta<br
                    /></strong
                >
                <code
                    >let numero = "5"; if (numero == 5) {
                        `
                        console.log("Igual"); // Incorrecto: == realiza una comparación sin tener en cuenta el tipo
                   `
                    }</code
                >
            </p>

            <p>
                <strong>6.Comparación con ===: Correcta</strong>

                <code
                    >let numero = "5"; if (parseInt(numero) === 5) {
                        console.log("Igual")
                    }</code
                >
            </p>
        </article>
        <button
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
        >
            <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
                Mas Ejemplos:
            </span>
        </button>
    </section>

    <div style="overflow: hidden;">
        <svg
            preserveAspectRatio="none"
            viewBox="0 0 1200 120"
            xmlns="http://www.w3.org/2000/svg"
            style="fill: #00e8d1; width: 100%; height: 45px; transform: rotate(180deg);"
        >
            <path
                d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
                opacity=".25"></path>
            <path
                d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
                opacity=".5"></path>
            <path
                d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"
            ></path>
        </svg>
    </div>

    <section class="text-black mt-5 mb-5 gap-10 py-5">
        <h1>Consejos y Trucos</h1>
        <h2>Extensiones de IDE recomendadas <br/>
            Que te ayudaran en tu dia a dia  
             
        </h2>
    
        <ul class=" list-disc pl-5">
            <li class="mb-5">
                <strong>1. ThunderClient:</strong>
                Lightweight Rest API Client for VS Code
            </li>
            <li class="mb-5">
                <strong>Tailwind CSS IntelliSense:</strong>
                Enhances the Tailwind development experience by providing Visual Studio Code users with advanced features such as autocomplete, syntax highlighting, and linting.
            </li>
            <li class="mb-5">
                <strong>Pretty TypeScript Errors:</strong>
                Make TypeScript errors prettier and more human-readable in VSCode.
            </li>
            <li class="mb-5">
                <strong>Live Server:</strong>
                Launch a development local Server with live reload feature for static & dynamic pages.
            </li>
            <li class="mb-5">
                <strong>JSON Crack:</strong>
                Seamlessly visualize your JSON data instantly into graphs.
            </li>
            <li class="mb-5">
                <strong>Error Lens:</strong>
                Improve highlighting of errors, warnings, and other language diagnostics.
            </li>
            <li class="mb-5">
                <strong>Simple React Snippets:</strong>
                Dead simple React snippets you will actually use.
            </li>
            <li class="mb-5">
                <strong>cssrem:</strong>
                Converts between px and rem units in VSCode.
            </li>
            <li class="mb-5">
                <strong>Code Spell Checker:</strong>
                Spelling checker for source code
            </li>
        </ul>
    </section>

    <section class="bg-gray-100 py-10">
        <h1 class="text-4xl font-bold text-center mb-8">Casos de Uso Específicos</h1>
    
       
        <div class="max-w-3xl mx-auto mb-10 bg-white rounded-md shadow-md p-8">
            <h2 class="text-2xl font-bold text-blue-500 mb-4">JavaScript en Desarrollo Web Interactivo</h2>
            <p class="text-gray-700">
                JavaScript es fundamental en el desarrollo web interactivo. Con su ejecución en el navegador, permite la creación
                de páginas dinámicas, manipulación del DOM y respuestas en tiempo real a las acciones del usuario.
            </p>
            <button onclick="JS()" class="bg-blue-500 text-white px-4 py-2 rounded-md mt-4">Mostrar Mensaje</button>

            <script>
                function JS () {
                    alert('¡Hola! Esto es JavaScript en acción.');
                }
            </script>
        </div>
    
       
        <div class="max-w-3xl mx-auto mb-10 bg-white rounded-md shadow-md p-8">
            <h2 class="text-2xl font-bold text-green-500 mb-4">Python en Ciencia de Datos</h2>
            <p class="text-gray-700">
                Python es ampliamente utilizado en ciencia de datos gracias a sus bibliotecas como NumPy, Pandas y scikit-learn.
                Facilita el análisis de datos, la creación de modelos y la visualización, siendo una opción poderosa para científicos de datos.
            </p>
            
            <pre class=" bg-gray-200 p-4 rounded-md mt-4 ">
                import pandas as pd
                import matplotlib.pyplot as plt
                
                # Crear un DataFrame de ejemplo
                data =
                 {`'Mes': ['Enero', 'Febrero', 'Marzo'], 'Ventas': [50, 65, 80]`}
                df = pd.DataFrame(data)
                
                # Visualizar los datos
                plt.bar(df['Mes'], df['Ventas'])
                plt.xlabel('Mes')
                plt.ylabel('Ventas')
                plt.title('Ventas Mensuales')
                plt.show()
                    </pre>
        
        </div>
    
       
        <div class="max-w-3xl mx-auto mb-10 bg-white rounded-md shadow-md p-8">
            <h2 class="text-2xl font-bold text-orange-500 mb-4">Java en Sistemas Empresariales</h2>
            <p class="text-gray-700">
                Java se destaca en el desarrollo de sistemas empresariales. Su portabilidad, robustez y arquitectura orientada a objetos
                lo hacen ideal para construir aplicaciones escalables y seguras en entornos corporativos.
            </p>
            <pre class="bg-gray-200 p-4 rounded-md mt-4">
                public class Empleado {`
                    private String nombre;
                    private int edad;
                    private double salario;
                
                    // Constructor
                    public Empleado(String nombre, int edad, double salario) {
                        this.nombre = nombre;
                        this.edad = edad;
                        this.salario = salario;
                    }
                
                    // Métodos getters y setters (omitiendo para brevedad)
                    
                    // Otros métodos y lógica de negocio
                `}
                    </pre>
        </div>
    
        
    
    </section>
    
    
</main>
