---
import Enlaces from "../components/Enlaces.astro";
import Footer from "../components/Footer.astro";
---

<meta charset="UTF-8" />
<main>
    <section class="text-gray-600 bg-white body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="text-center mb-20">
                <h1
                    class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4"
                >
                    ¿Quieres llevar tus habilidades de desarrollo web al
                    siguiente nivel y convertirte en un mejor desarrollador?
                </h1>
                <p
                    class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s"
                >
                    La clave está en la práctica constante, ¡y tengo algunas
                    gemas para ti! Descubre estos enlaces gratuitos que ofrecen
                    todo lo que necesitas para crear proyectos web desde cero,
                    desde imágenes hasta diseño:
                </p>
                <div class="flex mt-6 justify-center">
                    <div
                        class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"
                    >
                    </div>
                </div>
            </div>
            <div
                class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6"
            >
                <div
                    class="p-4 md:w-1/3 flex flex-col text-center items-center"
                >
                    <div
                        class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
                    >
                        <svg
                            width="800px"
                            height="800px"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M15.5 9L15.6716 9.17157C17.0049 10.5049 17.6716 11.1716 17.6716 12C17.6716 12.8284 17.0049 13.4951 15.6716 14.8284L15.5 15"
                                stroke="#1C274C"
                                stroke-width="1.5"
                                stroke-linecap="round"></path>
                            <path
                                d="M13.2942 7.17041L12.0001 12L10.706 16.8297"
                                stroke="#1C274C"
                                stroke-width="1.5"
                                stroke-linecap="round"></path>
                            <path
                                d="M8.49994 9L8.32837 9.17157C6.99504 10.5049 6.32837 11.1716 6.32837 12C6.32837 12.8284 6.99504 13.4951 8.32837 14.8284L8.49994 15"
                                stroke="#1C274C"
                                stroke-width="1.5"
                                stroke-linecap="round"></path>
                            <path
                                d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8"
                                stroke="#1C274C"
                                stroke-width="1.5"
                                stroke-linecap="round"></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2
                            class="text-gray-900 text-lg title-font font-medium mb-3"
                        >
                            HTML - CSS - JavaScript
                        </h2>
                        <div class="divider divider-success"></div>
                        <p
                            class="text-gray-900 text-sm title-font font-medium mb-3"
                        >
                            La combinación de estas tecnologías te brinda la
                            capacidad de construir desde simples sitios
                            estáticos hasta aplicaciones web complejas y
                            dinámicas. Además, te permite adaptarte a diferentes
                            roles dentro del desarrollo web, ya sea enfocándote
                            en el frontend con HTML, CSS, y JavaScript, o
                            trabajando en el desarrollo de aplicaciones más
                            complejas con frameworks y librerías. ¡Buena suerte
                            en tu viaje de aprendizaje!En los siguientes enlaces
                            encontrarás donde practicas estas tecnológicas
                        </p>
                        <div class="divider divider-success"></div>
                        <article
                            class="flex flex-col leading-relaxed text-base"
                        >
                            <Enlaces
                                Title="¡Descubre Frontend Mentor!"
                                Contenido=" Desafíos prácticos diseñados para perfeccionar tus habilidades. Recibe retroalimentación de la activa comunidad para un crecimiento rápido y efectivo."
                               Link="https://www.frontendmentor.io/"
                                />
                            <div class="divider divider-accent"></div>

                            <Enlaces
                                Title="Codewell"
                                Contenido={`Codewel es una plataforma en línea
                            diseñada para desarrolladores web que buscan
                            mejorar sus habilidades mediante la práctica
                            y la creación de proyectos reales. La
                            esencia de Codewell es proporcionar desafíos
                            de codificación prácticos y proyectos de
                            desarrollo web completos para que los
                            usuarios los aborden y perfeccionen sus
                            habilidades.`}
                            Link="https://www.codewell.cc/"
                            />
                            <div class="divider divider-accent"></div>

                            <Enlaces
                                Title="Frontend Practice"
                                Contenido={`Frontend Practice es una iniciativa
                           centrada en proporcionar oportunidades
                           prácticas y desafiantes para desarrolladores
                           frontend que desean mejorar y perfeccionar
                           sus habilidades en tecnologías web. Este
                           enfoque se basa en la premisa de que la
                           práctica constante y la aplicación de
                           conocimientos en proyectos reales son
                           fundamentales para el crecimiento y la
                           maestría en el desarrollo frontend.`}
                           Link="https://www.frontendpractice.com/"
                            />
                            <div class="divider divider-accent"></div>
                            <Enlaces
                                Title="Dev Challenges"
                                Contenido={`Dev Challenges es una plataforma dinámica
                           y desafiante diseñada específicamente para
                           desarrolladores que buscan elevar sus
                           habilidades mediante la participación en
                           desafíos prácticos y proyectos de
                           desarrollo. Este espacio se centra en
                           proporcionar oportunidades emocionantes y
                           variadas para que los desarrolladores
                           frontend y backend consoliden sus
                           conocimientos y adquieran experiencia
                           práctica.`}
                           Link="https://devchallenges.io/"
                            />
                            <div class="divider divider-accent"></div>
                            <Enlaces
                                Title="30 Days of JavaScript"
                                Contenido={`30 Days of JavaScript es una iniciativa
                           emocionante que desafía a los
                           desarrolladores a comprometerse con la
                           mejora continua a lo largo de un mes,
                           centrándose específicamente en ampliar sus
                           habilidades en JavaScript. Esta experiencia
                           inmersiva ofrece una serie de desafíos
                           diarios diseñados para abordar diversos
                           conceptos y aspectos prácticos de
                           JavaScript.`}
                           Link="https://javascript30.com/"
                            />
                            <div class="divider divider-accent"></div>
                            <Enlaces
                                Title="CSS Battle"
                                Contenido={`CSS Battlee es una plataforma única que
                           ofrece desafíos creativos y visuales en los
                           que los desarrolladores frontend pueden
                           poner a prueba y mejorar sus habilidades en
                           CSS. Esta experiencia interactiva combina la
                           lógica de la codificación con el diseño
                           artístico, desafiando a los participantes a
                           crear soluciones visuales utilizando
                           únicamente CSS.`}
                           Link="https://cssbattle.dev/"
                            />
                            <div class="divider divider-accent"></div>
                        </article>
                    </div>
                </div>
                <div
                    class="p-4 md:w-1/3 flex flex-col text-center items-center"
                >
                    <div
                        class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
                    >
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="w-10 h-10"
                            viewBox="0 0 24 24"
                        >
                            <circle cx="6" cy="6" r="3"></circle>
                            <circle cx="6" cy="18" r="3"></circle>
                            <path
                                d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"
                            ></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2
                            class="text-gray-900 text-lg title-font font-medium mb-3"
                        >
                            JavaScript
                        </h2>
                        <div class="divider divider-success"></div>
                        <p
                            class="text-gray-900 text-sm title-font font-medium mb-3"
                        >
                            Deseas llevar tus habilidades en JavaScript al
                            siguiente nivel y explorar sus fascinantes
                            posibilidades? ¡Estás en el lugar correcto!
                            Encuentra inspiración, desafíos prácticos y
                            proyectos emocionantes en los siguientes enlaces.
                            Estas valiosas fuentes te proporcionarán la
                            oportunidad de explorar, aprender y mejorar tus
                            habilidades en JavaScript. ¡Sumérgete en el
                            fascinante mundo del desarrollo web y descubre cómo
                            puedes crear experiencias interactivas impactantes
                        </p>
                        <div class="divider divider-success"></div>
                        <article
                            class="flex flex-col leading-relaxed text-base"
                        >
                    <Enlaces
                    Title="Leet Code"
                    Contenido=""
                    Link="https://leetcode.com/"
                    />
                    <div class="divider divider-accent"></div>
                    <Enlaces
                    Title="Coder Byte"
                    Contenido=""
                    Link="https://coderbyte.com/"
                    />
                    <div class="divider divider-accent"></div>
                    <Enlaces
                    Title="Exercism"
                    Contenido=""
                    Link="https://exercism.org/dashboard"
                    />
                    <div class="divider divider-accent"></div>
                    <Enlaces
                    Title="Code Signal"
                    Contenido=""
                    Link="https://codesignal.com/"
                    />
                    <div class="divider divider-accent"></div>
                    <Enlaces
                    Title="Advent JS"
                    Contenido=""
                    Link="https://adventjs.dev/es"
                    />
                    <div class="divider divider-accent"></div>
                    <Enlaces
                    Title="Hacker Rank"
                    Contenido=""
                    Link="https://www.hackerrank.com/"
                    />
                    </article>
                      
                    </div>
                </div>
                <div
                    class="p-4 md:w-1/3 flex flex-col text-center items-center"
                >
                    <div
                        class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
                    >
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="w-10 h-10"
                            viewBox="0 0 24 24"
                        >
                            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"
                            ></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2
                            class="text-gray-900 text-lg title-font font-medium mb-3"
                        >
                            Neptune
                        </h2>
                        <p class="leading-relaxed text-base">
                            Blue bottle crucifix vinyl post-ironic four dollar
                            toast vegan taxidermy. Gastropub indxgo juice
                            poutine, ramps microdosing banh mi pug VHS try-hard.
                        </p>
                        <a class="mt-3 text-indigo-500 inline-flex items-center"
                            >Learn More
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="w-4 h-4 ml-2"
                                viewBox="0 0 24 24"
                            >
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <button
                id="blogButton"
                class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                >Volver a la pagina de inicio</button
            >
        </div>
    </section>
    <Footer />

    <script>
        document
            .getElementById("blogButton")
            .addEventListener("click", function () {
                window.location.href = "Blog";
            });
    </script>
</main>
