---
import Footer from "./Footer.astro";
---

<main class="flex flex-col items-center py-10 px-8 md:px-32">
    <header class="py-8">
          <img src="" alt="Logo de tu blog" />
    </header>

    <article class="text-center">
        <h1 class="text-5xl font-extrabold text-gray-900 hover:underline transition-all duration-300 ease-in-out transform hover:scale-105 mb-6">
            Bienvenidos a Mi Blog
        </h1>
        <div class="bg-gradient-to-r from-purple-400 to-pink-500 p-8 rounded-lg shadow-md">
            <p class="text-gray-800 font-sans text-lg leading-relaxed">
                ¡Hola, exploradores del código!

        Bienvenidos al fascinante mundo de la programación, donde las líneas de código se convierten en historias y los algoritmos son la clave para resolver problemas. Este blog está diseñado para todos aquellos que se embarcan en un viaje apasionante hacia el vasto universo de la programación.

        Exploraremos las maravillas del desarrollo de software, desde los conceptos fundamentales hasta las últimas tendencias tecnológicas. Ya seas un novato curioso, un estudiante ansioso por aprender o un desarrollador experimentado en busca de inspiración, aquí encontrarás artículos, tutoriales y reflexiones que te guiarán a través de las complejidades y bellezas de la programación.

        Desde el encanto de los lenguajes de programación hasta la emoción de resolver problemas algorítmicos, nuestro objetivo es compartir conocimientos, inspirar la creatividad y fomentar una comunidad apasionada por el código. Prepárate para sumergirte en el código fuente de la tecnología que impulsa nuestro mundo moderno.

        Únete a nosotros en este emocionante viaje, donde cada línea de código es una oportunidad para aprender, crecer y transformar ideas en realidad.

        ¡Bienvenidos a mi blog sobre programación!
            </p>
        </div>
    </article>
    

    <section class="my-10">
        <h2 class="text-3xl font-extrabold mb-8 text-center text-gray-900">Descubre Nuestros Artículos Destacados</h2>
    
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-md shadow-lg transition-transform transform hover:scale-105">
                <img src="imagen1.jpg" alt="Imagen del artículo 1" class="w-full h-48 object-cover mb-4 rounded-md shadow-md">
                <h3 class="text-xl font-semibold mb-2 text-gray-800">pnpm vs npm</h3>
                <p class="text-gray-600 mb-4">Descubre las diferencias clave entre pnpm y npm.</p>
                <a href="#" class="text-blue-500 hover:underline">Leer más</a>
            </div>
    
            <div class="bg-white p-6 rounded-md shadow-lg transition-transform transform hover:scale-105">
                <img src="imagen2.jpg" alt="Imagen del artículo 2" class="w-full h-48 object-cover mb-4 rounded-md shadow-md">
                <h3 class="text-xl font-semibold mb-2 text-gray-800">Título del Artículo 2</h3>
                <p class="text-gray-600 mb-4">Explorando temas interesantes en el mundo de la programación.</p>
                <a href="#" class="text-blue-500 hover:underline">Leer más</a>
            </div>
    
            <div class="bg-white p-6 rounded-md shadow-lg transition-transform transform hover:scale-105">
                <img src="imagen3.jpg" alt="Imagen del artículo 3" class="w-full h-48 object-cover mb-4 rounded-md shadow-md">
                <h3 class="text-xl font-semibold mb-2 text-gray-800">Título del Artículo 3</h3>
                <p class="text-gray-600 mb-4">Explora las últimas tendencias en desarrollo de software.</p>
                <a href="#" class="text-blue-500 hover:underline">Leer más</a>
            </div>
        </div>
    </section>
    
</main>
